@font-face {
    font-family: 'dfds'; 
    src: url('font/dfds-bold.woff'); 
}

@font-face {
    font-family: 'dfds2'; 
    src: url('font/dfds-light.woff'); 
}


body {
	margin:0;
}

header{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.3125em;
   	padding-bottom: 0.3125em;
   	box-shadow: 0  0.125em  0.25em 0 rgba(0,0,0,0.16),0  0.125em 0.625em 0 rgba(0,0,0,0.12);
   	background-color: #fff;
}

header > img {
	width: 26vw;
	height: auto;
	padding-left:  0.8125em;
}

header > h1 {
	font-family: "dfds";
	color: black;
	font-size: 1em;
}

header > section {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header > section > a > img {
	width: 1.875em;
	height: 1.3125em;
}

header > section  > img:nth-child(3) {
	width: 1.875em;
	height: 1.3125em;
	margin-right: 0.625em;
}

nav {
	font-family: "dfds";
	color: black;
	background-color: #fff;
}

 nav > ul {
 	 display: flex;
 	 flex-direction: row;
	 list-style-type: none;
	 flex-wrap: wrap;
	 justify-content: space-between;
    	padding-left: 0.3125em;
  	padding-right: 0.3125em;
}

nav > ul > li {
	max-width: 6em;
}

nav > ul > li > a {
	text-decoration: none;
	color:black;
}

aside {
	display:none;
}

#input {
  background-image: url('../img/search.svg');
  background-position: 0.3125em;
  background-size: 1.125em;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 0.8em;
  padding: 0.75em 1.25em 0.75em 2.5em;
  border: 1px solid #ddd;
}

#zoeken {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 1.125em;
  font-family: sans-serif;
}

#zoeken th, #zoeken  td {
  text-align: left;
  padding: 0.75em;
  font-size: .8em;
}

#zoeken a {
	color: grey;
}

#zoeken tr {
  border-bottom: 1px solid #ddd;
}

#zoeken tr:hover {
  background-color: #f1f1f1;
}


article > img {
	height: auto;
	width: 100%;
}


main > section > section {
	background: #EAEDEE;
}

main >section>  section > article {
	background-color: white;
}

 article > p {
	font-family: "Helvetica";
	color: #B1B2B3;
	font-size: 0.825em;
	padding-left: 0.625em;
    	padding-right: 0.625em;
    	font-size: 1em;
}

article > footer {
	font-family: "dfds";
	color: black;
}

article > a > button {
	font-family: "dfds";
	color: #ffffff;
            background-color: #F6861F;
            text-align: center;
            border: none;
            margin-right: 0.875em;
    	margin-bottom: 0.625em;
    	padding: 0.5em 1em;
}


article > a {
	display: flex;
	justify-content: flex-end;
}


footer  {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #002B45;
	color: white;
	font-family: sans-serif;
	font-size: 0.8em;
	padding-top:1em;
}

footer > section {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:  center;	
}

footer > section > p {
	font-family: "dfds2";
	margin-left: 1em;
}

footer > section > ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

footer > img {
	width: 20%;
	height: auto;
}

footer > section > ul >  li > a > img {
	width: 1.875em;
	height: auto;
	margin-right: 1.250em;
}

main {
	background-color: #EAEDEE;
}

main > article {
	background-color: white;
	margin-bottom: 0.2em;
	position: relative;
   	 text-align: left;
    	color: white;
}

main > article > h1 {
	font-family: "dfds";
	color: white;
	font-size: 1rem;
	background-color: #F6861F;
	position: absolute;
    	top: 0.5em;
    	padding: 0.1875em 0.9375em 0.3125em 0.1875em;
}

main > section> section > article {
	background-color: white;
	margin-bottom: 0.2em;
	position: relative;
   	 text-align: left;
}

main > section > section > article > h1 {
	font-family: "dfds";
	color: white;
	font-size: 1rem;
	background-color: #022C44;
	position: absolute;
    	padding: 0.1875em 0.9375em 0.3125em 0.1875em;
}

main > article >ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-left: 0px;
	background-color: white;
    	padding-top: 1.5625em;
}

main > article >  ul > li > img {
	width: 1.875em;
	height:auto;
	padding: none;
}

main > article >  ul > li > a > img {
	width: 1.875em;
	height:auto;
	padding: none;
}

#verhaal1 {
	    padding-top: 3em;
}


#like {
	color:black;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

picture > img {
	width:100%;
}

aside > ul {
	list-style: none;
}

#naam {
	font-family: sans-serif;
	color: #022C44;
}

aside > ul > li > p {
	font-family: sans-serif;
	font-weight: bold;
}

aside > ul > li > fieldset > legend {
	font-family: sans-serif;
	font-weight: bold;
}

aside > ul > li > fieldset > label {
	font-family: sans-serif;
}

aside > ul > li > fieldset  {
 border: none;
}

aside> ul > li > input {
    font-family: "dfds";
    color: #ffffff;
    background-color: #032A47;
    text-align: center;
    border: none;
    margin-bottom: 1.875em;
    padding: 0.5em 1em;
}

footer > section > p {
	font-family: sans-serif;
}


/* Vormgeving verhalen */

#image {
	background: url(../img/bijbels mob.png);
}


@media  screen 
and (min-device-width : 26.875em)
and (max-device-width : 48em) 
{
    header > h1 {
    font-family: "dfds";
    color: black;
    font-size: 1.1em;
    padding-right: 0.875em;
}
}

@media  screen 
and (min-device-width : 29.25em) 
{
     header > h1 {
    font-family: "dfds";
    color: black;
    font-size: 1.1em;
    padding-right: 1.375em;
}
}



@media only screen 
and (min-device-width : 35.25em) 
{
    header > img {
    width: 23vw;
    height: auto;
    padding-left: 0.8125em;
}

header > h1 {
    font-family: "dfds";
    color: black;
    font-size: 1.2em;
    padding-right: 2.375em;
}
}



@media only screen 
and (min-device-width : 45em) 
{ 
header > img {
     width:  9em;
     height: auto;
}

header > h1 {
    font-family: "dfds";
    color: black;
    font-size: 1.5em;
    padding-right: 3.125em;
}

footer > img {
    width: 10%;
    height: auto;
}

#beginscherm {
     position: absolute;
    bottom: 3.75em;
    font-size: 0.75em;
    left: 2.5em;
    background-color: white;
    max-width: 40%;
    height: 13.125em;
    padding: 1em 1em 1em 1em;
}

#startbutton {
    position: absolute;
    bottom: 1.5625em;
    right: 2.5em;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1.625em;
    padding-right: 1.625em;
}

main > section> section {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

main > section> section > article {
    max-width: 49%;
}

main > section> #section1 > article:nth-child(1) {
    margin-right:20px;
}

main > section> #section2 > article:nth-child(1) {
    margin-right:20px;
}



#naam {
	font-family: sans-serif;
	color: grey;
}

#zoeken {
	font-family:sans-serif;
}
}

@media only screen 
and (min-device-width : 75em) 
{ 
	#beginscherm{
		font-size: 0.885em; ;
		} 
}


@media only screen 
and (min-device-width : 80em) 
{ 


#beginscherm {
	bottom: 10em;
	max-width: 30%;
	color: #A1ACB5;
	font-size: 1.1em;
	position: absolute;
}

main > section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
}


footer > img {
	width: 7%;
	height: auto;
}

header  > img {
	width:8em;
	height:auto;
	padding-top: 1em;
	padding-bottom:1em;
	padding-left: 1em;
}

header > h1 {
	font-size: 1.5em;
}

header > section > a > img {
	height: auto;
	width: 1.5em;
	padding-right: 2em;
}

header > section > img:nth-child(3) {
	height: auto;
	width: 1.5em;
}

header > section {
	margin-right: 2em;
}

#naam {
	font-size: 1em;
	padding-right:1em;
}

nav > ul > li > a {
	font-size: 1em;
}

nav > ul > li > a:hover {
	color: #F6861F;
}

nav > ul > li {
	padding-right: 10em;
	padding-left: 3em;
}

aside {
	font-size: 1em;
}

aside> ul > li > input {
	font-size: 1em;
	margin-left: 0.9em;
}

#zoeken {
	font-family: sans-serif;
}

main > article > h1 {
	font-size: 1.5em;
	margin-top: 1em;
}

main > article {
	margin-left: 3em;
    	margin-right: 3em;
    	margin-bottom: 2em;
}



article > a > button {
	font-size: 1em;
}


footer > section > ul > li > a > img {
	width: 2.5em;
	height: auto;
}

main > article > p {
	font-size: 1em;
	padding-top: 2em;
}

main > article > ul {
	margin-left: 20em;
	margin-right: 20em;
}

main > section> section > article {
    max-width: 50%;
}


}










